main {
    font-family: sans-serif;
}

article {
    width: 70%;
    float: left;
}

aside {
    width: 30%;
    float:left;
}

header {
    font-family: sans-serif;
    color: #35334e;
}

body {
    font-family: sans-serif;
    color: #35334e;
    font-size: 16px;
    letter-spacing: -0.09px;
    margin-bottom: 12px;
}
 
p {
    margin-left: 37px;
    font-size: 17px;
    letter-spacing: 1.3px;
    text-align: justify;
}

.navbar {
    background-color: #35334e;
    text-align: center;
    height: 31px;
    margin-top:100px;
    margin-bottom: 20px;
    width: 794;
    margin-left: 37px;
    margin-right: 200px; 
}

.navbar a {
    font-size: 13px;
    display:inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.bold {
    padding: 7px;
    font-weight: bolder;
    display: inline-block;
}

.bold-1 {
    font-weight: bold;
    display:inline-block;
}

.prince {
    position:relative;
} 

.mirror {
    position: fixed;
    top: 150px;
    left: 39px;
    color: white;
    font-size: 70px;
    font-weight: bolder; 
    background-color: #a92323;
}
.navbar-1 {
    background-color: #a92323;
    color: #fff;
    padding: 10px 30px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
}

.margin {
    margin-left: 37px;
    margin-right: 400px;
}

h1  {
    margin-left: 37px;
    font-weight: 900;    
}

.bold-red {
    font-weight: bold;
    color: #a92323;
}

.dotted-top{
    border-top-style: dotted;
    margin-left: 37px;
}

.dotted-bottom{
    border-bottom-style: dotted;
    margin-left: 37px;
}

.picture-2 {
    margin-left: 50px; 
}

.audio-image {
    margin-left: 50px;
}

.audio-1 {
    margin-top: 0;
    margin-bottom: 0px;
    margin-left: 50px;
}

.audio {
    margin-left: 50px;
}

h4 {
    font-variant: small-caps;
    color:  #a92323;
    text-decoration: none;
} 

.resume {
    width:400px;
    margin-left: 30px;
}

.imagen {
    float:left;
    width: 40%;
}

.resume-text {
    float: left;
    width: 60%;
}

.resume-list {
    list-style-type: none; 
    float:left;
}

.resume-list li{
    float:left
}

.clearfix {
    clear:both
}

.aside-box {
    background-color: #fdf9d8;
    margin-top: 18px;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 15px;
}

a { 
    text-decoration: none;
    color: #35334e; 
    font-weight: 700;
    text-align: webkit-match-parent;
}

h2 {
    font-family: bold;
    font-variant: small-caps;
    color: #35334e; 
    font-weight: 900;
    font-size: 24px;
    line-height: 21px;
    margin: 18px 16px 15px;
    font-family: sans-serif;
} 
