header {
    font-family: sans-serif;
    color: #35334e;
    letter-spacing: 16 px;
}
body {
    font-family: sans-serif;
    color: #35334e;
    font-size: 16px;
    letter-spacing: -0.09px;
    margin-bottom: 12px;
}

.navbar{
    background-color: #35334e;
    text-align: center;
    height: 31px;
    margin-top:100px;
    margin-bottom: 20px;
    width: 794;
}

.navbar a{
    font-size: 13px;
    display:inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.bold {
    padding: 7px;
    font-weight: bolder;
    display: inline-block;
}

.picture {
    width: 100;
} 

.bold-1 {
    font-weight: bold;
    display:inline-block;
}




