header {
    font-family: sans-serif;
    color: #35334e;
    letter-spacing: 16 px;
}

body {
    font-family: sans-serif;
    color: #35334e;
    font-size: 16px;
    letter-spacing: -0.09px;
    margin-bottom: 12px;
}
 
p {
    margin-left: 37px;
    margin-right: 430px;
    font-size: 17px;
    letter-spacing: 1.3px;
}

.navbar {
    background-color: #35334e;
    text-align: center;
    height: 31px;
    margin-top:100px;
    margin-bottom: 20px;
    width: 794;
    margin-left: 37px;
    margin-right: 200px; 
}

.navbar a {
    font-size: 13px;
    display:inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.bold {
    padding: 7px;
    font-weight: bolder;
    display: inline-block;
}

.bold-1 {
    font-weight: bold;
    display:inline-block;
}

.navbar-1 {
    background-color: #a92323;
    color: #fff;
    padding: 10px 30px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
}

.margin {
    margin-left: 37px;
    margin-right: 400px;
}

div h1  {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1px;s
}

.bold-red {
    font-weight: bold;
    color:#a92323;
}

.dotted-top{
    border-top-style: dotted;
    margin-left: 37px;
    margin-right: 400px;
}

.dotted-bottom{
    border-bottom-style: dotted;
    margin-left: 37px;
    margin-right: 400px;
}

.picture-2 {
    margin-left: 50px; 
}


